{% extends "task.html" %}

{% block error_block %}
{% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            <p>Sunt cateva fielduri care nu au fost completate corect. Te rugam sa corectezi urmatoarele campuri :</p>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}
{% endblock %}

{% block explanation %}
<div class = "row-fluid">
	<p>Gasiti tabelul "VII Venituri ale declarantului - 3.Venituri din cedarea folosintei bunurilor" si transcrieti datele de pe randul {{row_num}}</p>
	<p>Este necesar sa se completeze <b>numele persoanei</b> din campul sursa sau <b>numele institutiei</b> alaturi de <b>adresa</b> ei.</p>

</div>
{% endblock %}

