{% extends "task.html" %}

{% block explanation %}
<div class = "row-fluid">
	<p>Gasiti tabelul "Bunuri Imobile - Terenuri" si transcrieti datele de pe randul {{nr_rand}}</p>
    <p>Introduceti Judet din coloana Adresa </p>
    <p>Introduceti Localitate din coloana Adresa </p>
    <p>Introduceti Comuna din coloana Adresa </p>
    <p>Introduceti Categorie teren din coloana Categoria cu explicatiile de la sfarsitul tabelului </p>
    <p>Introduceti An dobandire din coloana Anul dobandirii</p>
    <p>Introduceti Suprafata din coloana Suprafata </p>
    <p>Introduceti Cota parte din coloana Cora parte</p>
    <p>Introduceti Mod dobandire din coloana Modul de dobandire</p>
    <p>Introduceti Titularul/Detinatorul din coloana Titularul</p>
</div>