<div class="row-fluid">
  <h2>Transcribe data on page {{ task.data.page }}</h2>
  <div class="col">
    <div class="form-group">
      <div class="col">
        <label for="id_title">What's the tile of the document?</label>
      </div>
      <div class="col">
        <input type="text" name="title" id="id_title">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <label for="id_publisher">Who is the publisher?</label>
      </div>
      <div class="col">
        <input type="datetime-local" name="publisher" id="id_publisher">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <label for="id_pages_total">How many pages has document?</label>
      </div>
      <div class="col">
        <input type="number" name="pages_total" id="id_pages_total">
      </div>
    </div>
  </div>
</div>