h1, h2, h3, h4, h4, h6, .btn {
  font-family: "Titillium Web", sans-serif;
}

body {
  font-family: "Merriweather", serif;
}

nav.navbar {
  background: #ffffff;
  border-bottom: 3px solid #3A54A4;
  display: flex;
  align-items: center;
}

.datblue {
  color: #3A54A4;
  display: inline-block;
  margin-left: 30px;
}

nav.navbar span {
  display: inline-block;
  height: 30px;
}

span.logo img {
  height: 100%;
}

[id="presenter"] {
  width: 50%;
  position: fixed;
  height: 100%;
}

[id="task"] {
  position: absolute;
  width: 50%;
  left: 50%;
  padding: 30px;
}