h1, h2, h3, h4, h4, h6, .btn {
  font-family: "Titillium Web", sans-serif;
}

body {
  font-family: "Merriweather", serif;
}

nav.navbar {
  background: #ffffff;
  border-bottom: 3px solid #3A54A4;
  display: flex;
  align-items: center;

}

#presenter {
  width: 50%;
  position: fixed;
  height: 100%;
}

#task {
  position: absolute;
  width: 50%;
  left: 50%;
}