{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="container-fluid justify-content-center mt-5">
    <section class="row justify-content-center mt-5 pt-5">
        <div class="col-aut home-title">
            <h1>{% trans 'HomePageTitle' %}</h1>
        </div>
    </section>
    <section class="row justify-content-center p-5">
        <img src="{% static 'images/icons8-documents-80.png' %}" alt="Documents" class="img-fluid d-block-xs" />
    </section>
    <section class="row justify-content-center">
        <a class="btn btn-lg btn-outline-warning" href="{% url 'task' %}">{% trans 'GiveMeATask' %}</a>
    </section>
</div>
{% endblock %}
