{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load moonsheep %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    
    <div id="presenter">
      {% block task-presenter %}
      {% include presenter.template %}
      {% endblock %}
    </div>

    <div id="task" class="p-3">
        {% block task-form %}
        <form id="taskForm" method="post">
            {% moonsheep_token task %}
            {% csrf_token %}
            <div class="row-fluid">
                {# Provide additional context for non-native speakers #}
                {% if "en" in request.LANGUAGE_CODE %}
                {% with row_num=task.row_number %}
                    {% block explanation %}{% endblock %}
                {% endwith %}
                {% endif %}
                {# Forms incoming! #}
                <div class="col">
                    {% for field in form %}
                    <div class="form-group">
                        <div class="col">
                            {{ field.label }}
                        </div>
                        <div class="col">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="col">
                    &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success" type="submit">{% trans 'SendTheData' %}</button>
                </div>
            </div>
        </form>
        {% endblock %}
    </div>

  </div>
</div>

{% endblock %}
